.landing{
  background-size:  100vw 100vh;
  background-repeat: no-repeat;
  align-items: center;
}

body{
  background-color: #e6dcfd;
  align-items: center;
}

.box{
  background-color: white;
  padding: 20px;
}

.headings {
  color: black;
  padding: 10px;
  font-family: Georgia;
  text-align: center;
  top: 500px;
}

.LoginBtnPos {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

.RegisterBtnPos {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}


.navigation {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navigation li.active {
  background-color: lightgrey;
}

.navigation li:hover {
  background-color: lightgrey;
}











